{% extends "layout.html" %}

{% block title %}
    User actions
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for row in database %}
              <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] }}</td>
                <th>{{ row["shares"] * row["price"]}}</th>
              </tr>
          {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th style="text-align:right;" >Total amount </th>
                <th>{{ cash }}</th>
              </tr>
        </tfoot>
    </table>
{% endblock %}
